@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");

:root {
  /* ### Primary */

  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);

  /* ### Neutral */

  /* (paragraphs) */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --Gray-100: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
}

.preview-card__wrapper {
  max-width: 90rem;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0.5rem;
}

.preview-card {
  display: flex;
  max-width: 56.25rem;
  border-radius: 9px;
  overflow: hidden;
}

.preview-card__container {
  padding: 3rem;
}

.preview-card__sedans-container {
  background-color: var(--Gold-500);
}

.preview-card__suvs-container {
  background-color: var(--Cyan-800);
}

.preview-card__luxury-container {
  background-color: var(--Green-950);
}

.preview-card__icon {
  margin-bottom: 2rem;
}

.preview-card__title {
  font-family: "Big Shoulders", sans-serif;
  text-transform: uppercase;
  color: var(--Gray-100);
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.preview-card__text {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.7;
  color: var(--Transparent-white);
  margin-bottom: 5rem;
}

.preview-card__btn:link,
.preview-card__btn:visited {
  display: inline-block;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--Gray-100);
  text-decoration: none;
  font-size: 0.9375rem;
  padding: 1em 2em;
  border-radius: 999px;
  transition: all 0.3s;
}

.preview-card__sedans-container .preview-card__btn:link,
.preview-card__sedans-container .preview-card__btn:visited {
  color: var(--Gold-500);
}

.preview-card__suvs-container .preview-card__btn:link,
.preview-card__suvs-container .preview-card__btn:visited {
  color: var(--Cyan-800);
}

.preview-card__luxury-container .preview-card__btn:link,
.preview-card__luxury-container .preview-card__btn:visited {
  color: var(--Green-950);
}

.preview-card__container .preview-card__btn:hover,
.preview-card__container .preview-card__btn:active {
  box-shadow: inset 0 0 0 2px var(--Gray-100);
  color: var(--Gray-100);
}

.preview-card__sedans-container .preview-card__btn:hover,
.preview-card__sedans-container .preview-card__btn:active {
  background-color: var(--Gold-500);
}

.preview-card__suvs-container .preview-card__btn:hover,
.preview-card__suvs-container .preview-card__btn:active {
  background-color: var(--Cyan-800);
}

.preview-card__luxury-container .preview-card__btn:hover,
.preview-card__luxury-container .preview-card__btn:active {
  background-color: var(--Green-950);
}

@media (max-width: 62.5rem) {
  .preview-card {
    flex-direction: column;
    max-width: 20.5rem;
  }

  .preview-card__text {
    margin-bottom: 2rem;
  }
}
